<div class="container">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-control">
            <label>Bike name</label>
            <input type="text" placeholder="Name" formControlName="name">
        </div>
        <div class="form-control">
            <label>Bike type</label>
    
            <select formControlName="type">
              <option value="Mountain bike">Mountain bike</option>
              <option value="Road bike">Road bike</option>
              <option value="Hybrid bike">Hybrid bike</option>
            </select>
          </div>
        <div class="form-control">
            <label>Rent price ($)</label>
            <input type="number" placeholder="Price" formControlName="price">
        </div>

        <button class="btn btn-success" type="submit" [disabled]="form.invalid">Submit rent</button>
    </form>
</div>